.output{
  
  background-color: rgba(255, 204, 0, 0.33);
  height: 150px;
}

body{
  background-color: rgb(68, 249, 110);
}

.hide{
  display: none;
}

.biglietto{
  border: 1px solid rgb(80, 0, 0);
}